.delete-button::before {
  content: "\D7";
  color: red;
  cursor: pointer;
}

.delete-button:disabled::before {
  content:""
  
}
li {
  display: flex;
  align-items: center;
}
.city-color:hover {
  cursor: pointer;
  color: blue;
}